page-friend-detail {
  .friend-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .friend-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
